{% extends 'main_template.html' %}

{% block main %}

{{ user }}
    {% for b in books %}
        <a href="{% url 'book-detail' id=b.id %}"><h1>{{ b.title }}</h1></a>
        <h5>{{ b.date }}</h5>
        <h2>{{ b.text }}</h2>
        <h4>Authors of book: {{ b.authors.all }}</h4>
        {{ b.rate }}
        {% for i in range %}
            {% if b.rate >= i %}
                <a href="{% url 'add-rate' id=b.id rate=i%}">
                    <span class="fa fa-star checked"></span>
                </a>
            {% else %}
                <a href="{% url 'add-rate' id=b.id rate=i%}">
                    <span class="fa fa-star"></span>
                </a>
            {% endif %}
        {% endfor %}
        {% for comment in b.comments.all %}
            <h3>{{ comment.text }}</h3>
            <h5>{{ comment.date }}</h5>
            <h6>{{ comment.author }}</h6>
            <a href="{% url 'add-like-to-comment' id=comment.id %}">
                <h5>Likes: {{ comment.count_like}}</h5>
            </a>
        {% endfor %}
        <br>
    {% endfor %}

{% endblock %}